html, body{
    background-color: white;
    font-family: "Playfair Display";
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  
.h1-container, nav{
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }

  .footer-design{
    color:grey;
    padding:2px;
    margin:0;
  }
  
  
  /* unvisited link */
  #gh-Link:link {
    color:black;
  }
  
  /* visited link */
  #gh-Link:visited {
    color:blue;
  }
  
  /* mouse over link */
  #gh-Link:hover {
    color:black;
  }
  
  /* selected link */
  #gh-Link:active {
    color: blue;
  }